<div class="jumbotron masthead">
  <div class="container">
    <h1>{{_i}}Bootstrap - No Rounded{{/i}}</h1>
    <p>{{_i}}Twitters awsome Bootstrap without Ronded Corners{{/i}}</p>   
    <a href="customize.html" class="btn btn-primary btn-large" {{#production}}onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Download', 'Download 2.3.1']);"{{/production}}>{{_i}}Download Bootstrap No Rounded{{/i}}</a>
  </div>
</div>

<div class="container">

  <div class="marketing">

    <h1>{{_i}}Check the Bootstrap Docs for more info{{/i}}</h1>       

  </div>{{! /.marketing }}

</div>{{! /.container }}
