<div class="jumbotron masthead">
  <div class="container">
    <h1>{{_i}}Bootstrap - No Rounded{{/i}}</h1>
    <p>{{_i}}Twitters awsome Bootstrap without Ronded Corners{{/i}}</p>   
  </div>
</div>

<div class="container">

  <div class="marketing">

    <h1>{{_i}}Check the Bootstrap Docs for more info{{/i}}</h1>       

  </div>{{! /.marketing }}

</div>{{! /.container }}
